/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	color: #008AC9;
	text-decoration: none;
}
a:hover {
	color: #bde2df;
	text-decoration: none;
}
a:visited {
	color: #008AC9;
	text-decoration: none;
}

/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#ffffff;
	z-index:100;
        border-bottom: 5px solid #008AC9;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation{
	float: right;
	list-style: none;
	margin: 0;
	boder-bottom: 2px solid #008AC9;
}
.navigation li{
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover{
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active{
	cursor:pointer;
	color: #008AC9;
	font-weight:bold;
}




/* General Slides */ 

.slide{
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:140px 0;
}



h1 {
	font-size: 3.5em;
	letter-spacing: -3px;
	color:#008ac9;
	font-weight: 700;
}
h2 {
	font-size: 1.7em;
	color: #008ac9;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: bold;
}

p { 
    text-align: justify;
}

/*
.slide:nth-child(odd) {
        background-image:url('../images/if_white.png');
}
*/
.slide:nth-child(even) {
	background-image:url('../images/if_blue.png');
	background-color: #008AC9;
	color:#ffffff;
}

.slide:nth-child(even) h1, .slide:nth-child(even) h2 {
        color: #ffffff;
}

.slide:nth-child(even) a, a:hover, a:link, a:visited{
        color: #ffffff;
        text-decoration: underline;
}
#test{
	background-color:#bde2df;
	color:#ffffff;
	text-align:center;
	font-size: 2em;
	font-weight: 400;
}

#langues{ 
         width: 300px;
         float: right;
}
#langues .tags {
	 text-align: center;
}

#loupe { 
         background-color: white;
         border: 1px solid #008AC9;
         color: #008AC9;
         font-weight: bold;
         position: absolute;
}
#genres{ 
         padding-top: 1px;
}

#langues .table, #genres .table { 
         max-height: 520px;
         overflow: auto;

}
#map-container { 
          width: 700px;
          margin: auto;
}
#map-search { 
     padding-left: 25px;     
}
#map-search #q { 
     width: 550px;
}

/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	text-align:center;
	margin:10px 0;
}

.navigation{
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
	padding:0;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}

#decorative {
	display:none;
}

#content {
	text-align:center;
	width:100%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}

.tag0 { font-size: 10px; }
.tag1 { font-size: 12px; }
.tag2 { font-size: 14px; }
.tag3 { font-size: 16px; }
.tag4 { font-size: 18px; }
.tag5 { font-size: 20px; }
.tag6 { font-size: 22px; }
.tag7 { font-size: 24px; }
.tag8 { font-size: 26px; }
.tag9 { font-size: 28px; }
.tag10 { font-size: 30px; }
.tag11 { font-size: 32px; }
.tag12 { font-size: 34px; }




/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation{
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li{
	float: left;
	width:25%;
}

.slide{
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:150px 0;
}


#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}

button.active {    
    background-color: #008AC9;
    border-color: #008AC9;
    border-radius: 4px;
    color: #FFFFFF; 
}


#graph li
{
   position:absolute;	
   list-style:none;
   background:lightblue;
   width:40px;
   text-align:center;
   border:1px solid black;
   visibility: hidden;
   background-color: yellow;
   background-repeat:repeat-y;
}